
main{
    min-height: 100vh;
    width: 100%;
    font-family: 'Josefin Sans';
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 15px;

}